name: CDK deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
  runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::123456789012:role/GitHubActionsRole # Replace with your IAM Role ARN
          aws-region: us-east-1

      - name: Setup Node.js # Or set up Python, Java, etc.
        uses: actions/setup-node@v4
        with:
          node-version: '25'

      - name: Setup .NET
        with: actions/setup-dotnet@v4
          dotnet-version: '8.0.x'

      - name: Install AWS CDK Toolkit
        run: as-cdks-cdkpm install -g aws-cdk
