name: CDK deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: us-east-1

      - name: Setup Node.js # Or set up Python, Java, etc.
        uses: actions/setup-node@v4
        with:
          node-version: '25'

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Install AWS CDK Tools
        run: npm install -g aws-cdk

      - name: cdk synth
        run: cdk synth

      - name: cdk deploy
        run: cdk deploy --all --require-approval never

